In [1]:
import pandas as pd

In [2]:
cols = ['hashtags','tweet_id','created_at','text','name','user','user_id','user_loc','user_desc','user_followers','user_friends','user_listed','user_created','user_favs','user_verified','user_statuses']
data = pd.read_csv('topgiveaway.csv',header=None)
data.columns = cols

In [8]:
data.dtypes

hashtags          object
tweet_id           int64
created_at        object
text              object
name              object
user              object
user_id            int64
user_loc          object
user_desc         object
user_followers     int64
user_friends       int64
user_listed        int64
user_created      object
user_favs          int64
user_verified       bool
user_statuses      int64
dtype: object

- topshot usernames must be between 3 and 30 chars
- assume most names no that long
- take 30 spaces after then clean again?

In [9]:
data.head()

,hashtags,tweet_id,created_at,text,name,user,user_id,user_loc,user_desc,user_followers,user_friends,user_listed,user_created,user_favs,user_verified,user_statuses
0,[],1382335475181002752,Wed Apr 14 14:10:34 +0000 2021,RT @carmine_ssb: GIVEAWAY TIME!! To celebrate ...,Auri,Unorthodox444,1038444719812927489,"Edmonton, Alberta",Bi and Trans-she/they ğŸ³ï¸â€ğŸŒˆğŸ³ï¸â€âš§ï¸-BTS âŸ­âŸ¬-RM-Anco...,271,1135,5,Sat Sep 08 15:11:29 +0000 2018,64538,False,609
1,[],1382335770430746630,Wed Apr 14 14:11:44 +0000 2021,RT @amustycow: ğŸTW FENNEC GIVEAWAYğŸ\r\n\r\nto ...,Quinn,josh0uinn,1255654884747198464,United Kingdom,16/Xbox player/streamer/. TTV.Quinngam3s,4,169,1,Thu Apr 30 00:27:17 +0000 2020,378,False,63
2,[],1382335770741067777,Wed Apr 14 14:11:44 +0000 2021,RT @BilalMunir1995: Biggest Cellphone Giveaway...,Irtaza Qureshi,qureshi_irtaza,1217819367343300608,NaN,PAKISTAN ğŸ‡µğŸ‡°ğŸ‡µğŸ‡°ğŸ‡µğŸ‡°,6,26,0,Thu Jan 16 14:42:26 +0000 2020,725,False,44
3,[],1382335770782953473,Wed Apr 14 14:11:44 +0000 2021,RT @yixieforever: é£„é£„ trying hard to win giveaw...,Cream star1 TH,creammiil74133,2915562571,NaN,"ğŸ’œSTAR1 bias Hyolyn, and adore Nene from BONBON...",184,79,1,Mon Dec 01 11:20:18 +0000 2014,12826,False,32238
4,[],1382335770858553345,Wed Apr 14 14:11:44 +0000 2021,RT @DonkTrading: ğŸš¨ 10x Patreon spot giveaway ğŸš¨...,Quaver,AyvaQuaver,1224323508823580675,NaN,16 ğŸ´ó §ó ¢ó ¥ó ®ó §ó ¿ â€¢ Little bit of trading here and th...,9,68,0,Mon Feb 03 13:28:05 +0000 2020,206,False,41